<section class="pt-24 md:pt-24 px-9">
    <h2 class="text-5xl text-center">About me</h2>
    <div class="flex md:flex-row flex-col">
        <div class="w-1/2 py-10 flex justify-center mx-auto">
            <img src="/favicon.svg" alt="Simiodev-logo" class="w-80">
        </div>
        <div class="md:w-1/2 w-full py-10 place-self-center">
            <p class="text-gray-200 text-xl">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur nam nobis molestias quaerat impedit delectus, ab, recusandae incidunt voluptates inventore, necessitatibus libero accusantium sed laboriosam. Quasi eos tenetur animi reprehenderit.</p>
        </div>
    </div>
</section>
