<section class="pt-24 md:pt-24 px-9">
    <h2 class="text-4xl md:text-5xl text-center">About me</h2>
    <div class="flex md:flex-row flex-col gap-14">
        <div class="w-1/2 py-10 flex justify-center mx-auto">
            <img src="/177344093.jpeg" alt="Simiodev-logo" class="w-80 rounded-full">
        </div>
        <div class="md:w-1/2 w-full md:py-10 place-self-center text-center md:text-left">
            <p class="text-white text-xl">
                Soy Nestor Cabrera, <span class="text-indigo-400">desarrollador Frontend & DevOps con 2 años de experiencia</span>. Mi enfoque combina creación de interfaces modernas con optimización de procesos mediante microservicios y <span class="text-indigo-400">automatización CI/CD</span> para soluciones escalables.
            </p>
            <p class="text-white text-xl mt-5">
                Valoro equipos ágiles donde la lógica clara resuelva problemas complejos. Fuera del ámbito técnico, cultivo disciplina en el gimnasio y aprendizaje colaborativo en el fútbol.
            </p>
        </div>
    </div>
</section>
