<section class="pt-24 md:pt-24 px-9">
    <h2 class="text-4xl md:text-5xl text-center">About me</h2>
    <div class="flex md:flex-row flex-col gap-14">
        <div class="w-1/2 py-10 flex justify-center mx-auto">
            <img src="/picture_nfcc.jpeg" alt="Simiodev-logo" class="w-80 rounded-full">
        </div>
        <div class="w-full md:py-10 place-self-center text-center md:text-left">
            <p class="text-white text-xl">
                I'm Nestor Cabrera, <span class="text-indigo-400">Frontend & DevOps developer with 2 years of experience</span>. My approach combines creating modern interfaces with process optimization through microservices and <span class="text-indigo-400">CI/CD automation</span> for scalable solutions.
            </p>
            <p class="text-white text-xl mt-5">
                I value agile teams where clear logic solves complex problems. Outside the technical realm, I cultivate discipline at the gym and collaborative learning in soccer.
            </p>
        </div>
    </div>
</section>
