---
import Github from "./svgs/Github.astro";
import Gmail from "./svgs/Gmail.astro";
import Linkedin from "./svgs/Linkedin.astro";
---

<div class="flex mt-5 gap-6">
    <a target="_blank" href="https://github.com/SimioDev" aria-label="GitHub" class="text-[var(--white-icon)] hover:text-white transition duration-300 ease-in-out border-1 border-[var(--white-icon-tr)] p-3 rounded-xl bg-[#1414149c] hover:bg-[var(--white-icon-tr)]"><Github/></a>
    <a target="_blank" href="mailto:nestcdev@gmail.com" aria-label="Gmail" class="text-[var(--white-icon)] hover:text-white transition duration-300 ease-in-out border-1 border-[var(--white-icon-tr)] p-3 rounded-xl bg-[#1414149c] hover:bg-[var(--white-icon-tr)]"><Gmail/></a>
    <a target="_blank" href="https://linkedin.com/in/nestor-cabrera" aria-label="LinkedIn" class="text-[var(--white-icon)] hover:text-white transition duration-300 ease-in-out border-1 border-[var(--white-icon-tr)] p-3 rounded-xl bg-[#1414149c] hover:bg-[var(--white-icon-tr)]"><Linkedin/></a>
</div>